MONGODB_URI=
MONGODB_DB=
API_JWT_SECRET=
GEMINI_API_KEY=
GEMINI_MODEL=gemini-3.1-flash-lite
GEMINI_LIVE_MODEL=gemini-3.1-flash-live-preview
GEMINI_LIVE_VOICE=Charon
SIMLI_API_KEY=
SIMLI_FACE_ID=
PORT=4000
NODE_ENV=development
